.panel-body {
  padding: 0;
}

.panel-group .panel {
  margin-bottom: 0;
  border-radius: 0;
}

.panel-heading {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.panel {
  border-radius: 0;
}

.panel-group .panel + .panel {
  margin-top: 0px;
}


.nav-tabs > li > a {
margin-right: 2px;
line-height: 1.42857143;
border: 1px solid transparent;
/*border-radius: 4px 4px 0 0;*/
}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	
	border: 1px solid #ddd;
	border-bottom-color: transparent;
	-webkit-box-shadow: 0 2px 0 #D3559C;
	-moz-box-shadow: 0 2px 0 #57889c;
	box-shadow: 0 2px 0 #57889c;
	border-bottom-width: 0!important;
	border-top: none!important;
	margin-top: 0!important;
}

.nav-tabs > li {
	float: left;
	margin-bottom: 0px;
	margin-top: -1px;
}